<configuration>

    <!-- defined a console append -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.15thread] %-5level %logger{36}.%M:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="py4j" level="OFF"/>
	<logger name="org.eclipse.ecf.osgi.services.remoteserviceadmin.console" level="OFF"/>
	<logger name="org.eclipse.ecf.internal.console" level="OFF"/>
	
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
